<div class = "text-center">
  <h1>Sign In</h1>
</div>
<%= form_tag '/signin' do %>
  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
<% end %>
<%= link_to 'Back', root_path%>