<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <h2><%= @post.user.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 text-center">
    <p><%= image_tag(@post.story.url) %></p>
    <h3><%= @post.title %></h3>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h3> Comments </h3>
  </div>
</div>
<br>
<% @post.comments.each do |x| %>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 comments-box">
      <p><%= x.content %></p>
      <p><%= x.user.name %></p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <%= form_for @comment do |form| %>
      <%= render partial: '/comments/form', object: form %>
      <%= form.submit %>
    </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>